<div v-if="dataExists">
	<div class="list-group">
		<a v-for="card in cards" v-bind:href="card.shortUrl" class="list-group-item list-group-item-action"
		   target="_blank">
			<div class="row">
				<div class="col-12 col-md-2">
					<div class="row justify-content-between">
						<div class="col-auto col-md-12 text-left">
							<small v-html="showDue(card.due, card.dueComplete)"></small>
						</div>
						<div class="col-auto col-md-12 trello-labels mt-md-2">
							<div class="d-inline-block" v-for="label in card.labels">
								<span v-bind:class="label.color" class="label-item">{{label.name}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col mt-2 mt-md-0">
					<p class="mt-0 mb-2 board-name" v-html="showBoardName(card.idBoard)"></p>
					<h3 class="card-title h5 m-0"><strong>{{ card.name }}</strong></h3>
				</div>
			</div>
		</a>
	</div>
</div>
<div v-else>
	<div class="row justify-content-center">
		<div class="col-auto">
			<i class="fas fa-sync-alt fa-2x fa-spin"></i>
		</div>
	</div>
</div>