
<!doctype html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="noindex">
	<link rel="shortcut icon" href="./images/site-icon.png" >
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/styles.min.css">
	<title>My Trello Dashboard</title>
</head>
<body>
<header>
	<nav class="navbar navbar-dark bg-dark">
		<h1><a class="navbar-brand" href="./">My Trello Dashboard</a></h1>
	</nav>
</header>

<main id="main" class="container-fluid mt-3">
	<div id="app" v-show="showAppFlg" style="display: none;">
	<section id="today" v-pre>
	<div class="mt-5">
		<div class="row no-gutters align-items-center mb-3">
			<h2 class="h3 mb-0 col-auto">今日のタスク</h2>
			<div class="col-auto ml-3">
				<button class="btn btn-secondary btn-sm" v-on:click="refresh"><i class="fas fa-sync-alt"></i></button>
			</div>
		</div>

		<div v-if="dataExists">
	<div class="row">
		<div v-for="card in cards" class="col-12 col-md-4 col-lg-3 mb-4">
			<a v-bind:href="card.shortUrl" class="card h-100" target="_blank">
				<div class="card-body h-100">
					<div class="d-flex flex-column justify-content-between h-100">
						<div class="main">
							<p class="mt-0 mb-2 board-name" v-html="showBoardName(card.idBoard)"></p>
							<h3 class="card-title h6 mb-1"><strong>{{ card.name }}</strong></h3>
							<div class="text-left">
								<small v-html="showDue(card.due, card.dueComplete)"></small>
							</div>
							<p class="card-text text-muted">
								<small>{{ card.desc }}</small>
							</p>
						</div>
						<div class="trello-labels mt-2">
							<div class="d-inline-block" v-for="label in card.labels">
								<span v-bind:class="label.color" class="label-item">{{label.name}}</span>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<div v-else>
	<div class="row justify-content-center">
		<div class="col-auto">
			<i class="fas fa-sync-alt fa-2x fa-spin"></i>
		</div>
	</div>
</div>

	</div>
</section>
	<section id="week" v-pre>
	<div class="mt-5">
		<div class="row no-gutters align-items-center mb-3">
			<h2 class="h3 mb-0 col-auto">直近1週間のタスク</h2>
			<div class="col-auto ml-3">
				<button class="btn btn-secondary btn-sm" v-on:click="refresh"><i class="fas fa-sync-alt"></i></button>
			</div>
		</div>

		<div v-if="dataExists">
	<div class="row">
		<div v-for="card in cards" class="col-12 col-md-4 col-lg-3 mb-4">
			<a v-bind:href="card.shortUrl" class="card h-100" target="_blank">
				<div class="card-body h-100">
					<div class="d-flex flex-column justify-content-between h-100">
						<div class="main">
							<p class="mt-0 mb-2 board-name" v-html="showBoardName(card.idBoard)"></p>
							<h3 class="card-title h6 mb-1"><strong>{{ card.name }}</strong></h3>
							<div class="text-left">
								<small v-html="showDue(card.due, card.dueComplete)"></small>
							</div>
							<p class="card-text text-muted">
								<small>{{ card.desc }}</small>
							</p>
						</div>
						<div class="trello-labels mt-2">
							<div class="d-inline-block" v-for="label in card.labels">
								<span v-bind:class="label.color" class="label-item">{{label.name}}</span>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<div v-else>
	<div class="row justify-content-center">
		<div class="col-auto">
			<i class="fas fa-sync-alt fa-2x fa-spin"></i>
		</div>
	</div>
</div>
	</div>
</section>
</div>
	<section id="config" class="mt-5" v-show="showConfigFlg">
	<div class="row justify-content-center">
		<div class="col-12 col-lg-6">
			<h2 class="h3">設定</h2>
			<form id="form1">
				<div class="form-group">
					<label for="trello_apikey">APIキー</label>
					<input id="trello_apikey" class="form-control" type="text" name="trello_apikey">
				</div>
				<div class="form-group">
					<label for="trello_token">トークン</label>
					<input id="trello_token" class="form-control" type="password" name="trello_token">
				</div>
				<div class="row">
					<div class="col-12">
						<button id="run-app" type="button" class="btn btn-primary d-block w-100" v-on:click="startApp">実行</button>
						<div class="alert alert-danger mt-2" style="display: none" role="alert" v-show="showConfigErrFlg">
							情報を取得できません。APIキーとトークンが正しいか確認してください。
						</div>
						<div class="alert alert-warning mt-2" style="display: none" role="alert" v-show="showConfigWarnFlg">
							APIキーとトークンを入力してください。
						</div>
					</div>
					<div class="col-12 mt-3">
						<input type="submit" class="btn btn-info d-block w-100" value="保存">
						<small class="text-muted">※ブラウザのパスワード保存機能等で保存してください。</small>
					</div>
					<div class="col-12 mt-1">
						<small class="text-muted">※APIキーとトークンは <a href="https://trello.com/app-key" target="_blank">https://trello.com/app-key</a> で取得してください。</small>
					</div>
				</div>

			</form>
		</div>
	</div>
</section>
</main>



<script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
<script defer async src="./js/script.bundle.js?1547261320137"></script>
</body>
</html>